/* Hero */

.hero {
  background: linear-gradient(180deg, #FCFCF7 6.5%, #1F5E7C 100%);
  max-height: auto;
}

.grocery {
  font-size: 1.28rem;
  font-weight: 400;
}

.flex-container {
  justify-content: center;
}

.learn {
  border: none;
  border-radius: 0;
  background-color: black;
  padding: 12px 40px;
}

.hero-img {
  max-width: 300px;
}

/* Footer */

.main-footer {
  background: rgba(31, 94, 124, 1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  .app-store {
    border-radius: 10px;
  }
  .google-icon {
    width: 90px;
    border-radius: 10px;
  
  }
  .youtube-img {
    width: 30px;
  }
  .row-container {
    margin-left: 55px;
  }
}